html, body {
	width:100%;
	margin: 0;
	padding: 0;
	background:#010118;
	color:#FFF;
}
div{margin:1%;}
div.controlset,div.flex{
	display:flex;
	overflow:auto;
}
div.controlset div{
	background:#000;
	width:50%;
	text-align:center;
	border:dotted;
	padding-top:5px;
	padding-bottom:25px;
	overflow:auto;
	padding:0.3%;
}
div.controlset div div{
	display:flex;
	width:99%;
	border:none;
	padding:0;
}

div.controlset div div div{
	display:inline;
	background:#000;
	width:50%;
	text-align:center;
	border:groove;
	border-color:gray;
	padding-top:5px;
	padding-bottom:25px;
}

canvas {
	background:#000;
	border-style:double;
	border-width: 5px;
	padding:15px;
	border-color:#caea5b;
	display: block;
}
input{
	width:90%;
}